#eventos,
#index {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  justify-content: space-evenly;

  & section {
    width: 50%;
    max-width: 350px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 1rem;

    & img {
      border-radius: 0.5em;
      max-height: 250px;
      max-width: 100%;
      object-fit: cover;
    }

    & div {
      width: 100%;
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & button {
        align-self: flex-end;
        flex-grow: 0;
      }
    }

    & h2 {
      text-wrap: wrap;
    }
  }
}

#eventos dialog {
  padding: 1rem;
  border-radius: 1rem;
  border: 0;

  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  &::backdrop {
    background-color: #000000a7;
    backdrop-filter: blur(5px);
  }
}
