body{
	height:100%;
    height:100%;
	margin:0;
	background: var(--mainColor);
	-webkit-font-smoothing:antialiased;
}

#dash{
    display:flex;
    width:100%;
    height:100vh;
}

.dashboard-wrap{
	background: var(--light); 
    padding: 20px;
}

.dashboard{
	display:flex;
	width:100%;
	height:100%;
}

.sidebar{
	width: 100%;
	padding: 18px 14px;
}


.menu-items{
	display:flex;
	flex-direction:column;
	gap: 18px;
	margin-top:8px;
}

.menu-items a{
	text-decoration:none;
	color: var(--dark);
	font-size:12px;
	line-height:1.1;
	font-weight:600;
}

main{
    color: var(--light);
    padding: 24px;
}

