* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --light: #f4f1de;
  --dark: #0d0d0d;
  --mainColor: #284026;
  --secColor: #a3b18a;
  --destaque: #6a994e;
  --red: #9f454d;

  --padding: 2rem;
}

body{
	background: var(--mainColor);
	display: flex;
}

a {
	text-decoration: none;
	color: inherit;
}

main{
	width: 100%;
	padding: var(--padding);
    min-height:100vh;
    display:flex;
	flex-direction: column;
	gap: 2em;
	
	color: var(--light);
}

ul :is(li, a) {
	list-style: none;
	text-decoration: none;
}

aside {
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;

	background-color: var(--light);
	color: var(--dark);

	transition: 700ms ease-in-out;
	
	& nav ul{
		display: none;
	}
}


aside .sandwich i {
	font-size: 2em;
	cursor: pointer;
}

aside.open nav ul{
	display: flex;
	flex-direction: column;
	gap: .7em;

}

aside nav :is(li, a) {
	color: inherit;
}

section.content {
    display: flex;
    gap: 2em;
    flex-wrap: wrap
}

section.card {
	padding: 1rem;
	border-radius: .8em;
	
	text-align: left;
	background-color: var(--light);
	color: var(--dark);
	box-shadow: 20px 20px 24px #20331e, -20px -20px 24px #304d2e;
	
}

.card{
	display: flex;
	flex-direction: column;
}

.btn {
	padding: 0.5em;
	border: 0;

	font-weight: 700;
  	font-size: 1rem;
  	color: var(--dark);
  	cursor: pointer;
  	text-decoration: none;
  	border-radius: .5em;
  	background-color: var(--secColor);
}