section.objetivos {
  padding: 3em;
  flex-direction: column;
}

section.objetivos .card {
  width: 100%;
  gap: 1em;

}
section.card .head input {
  padding: .5em;
  font-size: 1.5rem;
  font-weight: 500;

  border-radius: .5em;
  border: 0;
  background-color: var(--secColor);
}

section.card .body textarea {
  padding: .5em;
  min-height: 10em;
  width: 100%;

  background-color: var(--secColor);
  border-radius: .5em;
  border: 0;
}

section.card .foot {
  text-align: right;
}

section.card .foot * {
  margin-left: .5em;
  background-color: var(--red);

  &:last-child {
    background-color: var(--destaque);
  }
}


.create form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#delete section.card {
  width: auto;
}

.cancel {
  color: var(--dark);
}