.gallery-display {
  padding: 1rem;
  border-radius: 0.8em;
  text-align: left;
  background-color: var(--light);
  color: var(--dark);
  margin-top: 2rem;
}

.contentgaleria {
  padding: 1em;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.photo-card {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo-card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.delete-link{
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.3rem 0.6rem;
  background-color: #e74c3c;
  color: #fff;
  text-decoration: none;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}
